.agreementheading
{
	color: #000000;
	padding: 10px 0 10px 10px;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	font-style: normal;
	font-family: Georgia, "Times New Roman", Times, serif;
}

.agreementsubheading
{
	color: #000000;
	padding: 0;
	text-align: left;
	font-weight: bold;
	font-size: 18px;
	font-style: normal;
	font-family: Georgia, "Times New Roman", Times, serif;
}

.agreementagree
{
	color: #000000;
	padding: 0;
	text-align: left;
	font-weight: bold;
	font-size: 16px;
	font-style: normal;
	font-family: Georgia, "Times New Roman", Times, serif;
}

.agreementtext
{
	color: #000000;
	padding: 0;
	text-align: left;
	font-weight: normal;
	font-size: 12px;
	font-style: normal;
	font-family: Georgia, "Times New Roman", Times, serif;

}

.agreementtextitalic
{
	color: #000000;
	padding: 0;
	text-align: left;
	font-weight: normal;
	font-size: 12px;
	font-style: italic;
	font-family: Georgia, "Times New Roman", Times, serif;

}
