td a:link, td a:visited
{
	text-decoration: none;
}

.calyear
{
	font-family: arial,helvetica,sans-serif;
	font-size: 20px;
	font-weight: 600;
	padding: 1em;
	margin: 0;
}

.calmonthname
{
	font-family: arial,helvetica,sans-serif;
	font-size: 12px;
	font-weight: 600;
	background-color: #00476B;
	color: white;
	padding: 0;
	text-align: center;
}

.caldays
{
	font-family: arial,helvetics,sans-serif;
	font-size: 12px;
	font-weight: 600;
	background-color: #4C7B99;
	color: white;
	padding: 0;
	text-align: center;
}

.calrows
{
	height: 150px;
	vertical-align: top;
}

.calweekend
{
	background-color: #B8CBD6;
	width: 24px;
	text-align: center;
	border: 1px solid #e0e0e0;
}

.calweekendselect
{
	background-color: #f03030;
	width: 24px;
	text-align: center;
	border: 1px solid #e0e0e0;
}

.calweekday
{
	background-color: #f0f0f0;
	width: 24px;
	text-align: center;
	border: 1px solid #e0e0e0;
}

.calweekdayselect
{
	background-color: #f05050;
	width: 24px;
	text-align: center;
	border: 1px solid #e0e0e0;
}

.caldate
{
	font-family: arial,helvetics,sans-serif;
	font-size: 11px;
	font-weight: 400;
	color: black;
}