.sysrptclassification
{
	font-family: "Courier New", Courier, monospace; 
	font-size: 11px; 
	font-weight: 400; 
	font-variant: normal; 
	font-style: normal; 
	text-decoration: none; 
	text-transform: none; 
	text-align: center; 
	color: #000000;
}

.sysrpttitle
{
	font-family: arial,helvetica,sans-serif; 
	font-size: 16pt; 
	font-weight: 600; 
	font-variant: normal; 
	font-style: normal; 
	text-decoration: none; 
	text-transform: none; 
	text-align: left; 
	color: #000000;
}

.sysrpthead
{
	font-family: arial,helvetica,sans-serif; 
	font-size: 12pt; 
	font-weight: 600; 
	font-variant: normal; 
	font-style: normal; 
	text-decoration: none; 
	text-transform: none; 
	text-align: left; 
	color: #000000;
}

.sysrpttable
{
	padding: 2pt;
	background-color: #ffffff;
}
	
.sysrpttablehead
{
	font-family: verdana,arial,helvetica,sans-serif; 
	color: #000000;
    font-size: 10pt; 
    font-weight: 600; 
    text-align: center;
    background-color: #e0e0e0;
}

.sysrpttableline0
{
	font-family: verdana,arial,helvetica,sans-serif; 
	color: #000000;
    font-size: 9pt; 
    font-weight: 400; 
    text-align: left;
    background-color: #ffffff;
}

.sysrpttableline1
{
	font-family: verdana,arial,helvetica,sans-serif; 
	color: #000000;
    font-size: 9pt; 
    font-weight: 400; 
    text-align: left;
    background-color: #f0f0f0;
}

.sysrpttablegroup0
{
	font-family: verdana,arial,helvetica,sans-serif; 
	color: #000000;
    font-size: 9pt; 
    font-weight: 400; 
    text-align: left;
    background-color: #99B4C5;
}

.sysrpttablegroup1
{
	font-family: verdana,arial,helvetica,sans-serif; 
	color: #000000;
    font-size: 9pt; 
    font-weight: 400; 
    text-align: left;
    background-color: #B8CBD6;
}
