.xstatnone
{
	color: #FFFFFF;
	background-color: #606060;
	font-size: 11px;
	font-weight: 400;
	text-align: left;
}

.xstatoffline
{
	color: #000000;
	background-color: #B0B0B0;
	font-size: 11px;
	font-weight: 400;
	text-align: left;
}

.xstatlocked
{
	color: #FFFFFF;
	background-color: #FF0000;
	font-size: 11px;
	font-weight: 400;
	text-align: left;
}

.xstatalert
{
	color: #000000;
	background-color: #FFFF00;
	font-size: 11px;
	font-weight: 400;
	text-align: left;
}

.xstatok
{
	color: #00A000;
	background-color: #FFFFFF;
	font-size: 11px;
	font-weight: 400;
	text-align: left;
}

.xstatinactive
{
	color: #A0A000;
	background-color: #000000;
	font-size: 11px;
	font-weight: 400;
	text-align: left;
}
