div.pagepanel
{
	margin-top: 0;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	background: #ffffff;
	overflow: hidden;
	width: 100%;
	float: left;
	position: relative;
}

div.maintablepanel
{
	clear: left;
	float: left;
	margin: 0;
	padding: 0;
	position: relative;
	left: 50%;
}

div.formpanel
{
	box-shadow: 2px 4px 8px 2px #888888;
	margin-top: 20px;
	margin-left: 60px;
	margin-right: 0px;
	margin-bottom: 20px;
	padding-top: 12px;
	padding-right: 14px; 
	padding-left: 14px;
	padding-bottom: 12px;
	background: url(../images/box_mtl_ctr.png);
	background-repeat: repeat;
	background-position: left top;
	border-radius: 12px;
	width: 984px;	
	float: left;
	position: relative;
	right: 50%;
}

div.loginpanel
{
	box-shadow: 2px 4px 8px 2px #888888;
	margin-top: 60px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	padding-top: 12px;
	padding-right: 14px; 
	padding-left: 14px;
	padding-bottom: 12px;
	background: url(../images/box_mtl_ctr.png);
	background-repeat: repeat;
	background-position: left top;
	border-radius: 12px;
	width: 500px;	
	float: left;
	left: 32%;
	position: relative;
}

section.toppanel
{
	float: left;
	width: 100%;
	margin: 0 0 10px 0;
	padding: 0;
}

section.contentpanel
{
	float: left;
	width: 960px;
	background-color: #ffffff;
	box-shadow: 2px 2px 2px 0px #888888 inset;
	margin: 0;
	padding: 10px;
}

section.contentpanel_login
{
	float: left;
	width: 472px;
	background-color: #ffffff;
	box-shadow: 2px 2px 2px 0px #888888 inset;
	margin: 0;
	padding: 10px;
}

section.bottompanel
{
	float: left;
	width: 100%;
	margin: 10px 0 0 0;
	padding: 0;
}

section.contentpanel_popup
{
	float: left;
	width: 100%;
	background-color: #ffffff;
	margin: 0;
	padding: 10px;
}


table.toppanel
{
	width: 100%;
	border: 0;
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
	table-layout: fixed;
}

table.topinfo
{
	width: 100%;
	border: 0;
	padding: 0;
	margin: 0;
	border-collapse: collapse;
}

table.topbuttons
{
	width: 100%;
	border: 0;
	padding: 0;
	margin: 0;
	border-collapse: collapse;
}

table.topstatus
{
	width: 100%;
	border: 0;
	padding: 0;
	margin: 0;
	border-collapse: collapse;
}

td.toplogo
{
	margin: -24px 0 0 0;
	float: left;
	width: 220px;
}

td.topinfo
{
	margin: 0;
	float: left;
}

td.topstatus
{
	margin: 0;
	float: right;
	width: 30px;
}

td.topbuttons
{
	margin: 0;
	float: right;
	width: 160px;
}

td.toppanelcell_lt
{
	margin: 0;
	text-align: left;
	vertical-align: top;
}

tr.toppanelrow_28
{
	height: 28px;
}

tr.toppanelrow_56
{
	height: 28px;
}


table.bottompanel
{
	width: 100%;
	border: 0;
	padding: 0;
	margin: 0;
	border-collapse: collapse;
	table-layout: fixed;
}

td.bottombuttons
{
	margin: 0;
	float: left;
	width: 300px;
}

td.bottomlogo
{
	margin: 0;
	float: right;
	width: 150px;
	text-align: right;
}

td.bottominfo
{
	margin: 0;
	float: left;
	text-align: center;
	width: auto;
}

span.bottominfogrey
{
    color: #9f9f9f;
    font-size: 11px;
    font-weight: 400;
}

span.bottominfoblack
{
    color: #000000;
    font-size: 11px;
    font-weight: 400;
}


table.contentpanel
{
	width: 100%;
	border: 0;
	padding: 0;
	margin: 0;
	border-collapse: collapse;
	table-layout: fixed;
	background-color: #ffffff;
}

table.contentpanel_login
{
	width: 480px;
	border: 0;
	padding: 0;
	margin: 0;
	border-collapse: collapse;
	table-layout: fixed;
	background-color: #ffffff;
}

table.contentpanel_popup
{
	width: 100%;
	border: 0;
	padding: 0;
	margin: 0;
	border-collapse: collapse;
	table-layout: fixed;
	background-color: #ffffff;
}

table.contentpanel_props
{
	width: 100%;
	border: 0;
	padding: 5px;
	margin: 0;
	border-collapse: collapse;
	table-layout: fixed;
	background-color: #ffffff;
}

table.popclose
{
	width: 100%;
	border: 0;
	padding: 5px;
	margin: 0;
	border-collapse: collapse;
	table-layout: fixed;
	background-color: #ffffff;
}

tr.contentrow_60
{
	height: 60px;
}

tr.contentrow_40
{
	height: 40px;
}

tr.contentrow_30
{
	height: 30px;
}

tr.contentrow_25
{
	height: 25px;
}

tr.contentrow_16
{
	height: 16px;
}

tr.contentrow_10
{
	height: 10px;
}

td.contentcell_lt
{
	margin: 0;
	text-align: left;
	vertical-align: top;
}

td.contentcell_rt
{
	margin: 0;
	text-align: right;
	vertical-align: top;
}

td.propscell_lt
{
	margin: 0;
	text-align: left;
	vertical-align: top;
	border: 1px solid black;
}

td.propscell_cntr
{
	margin: 0;
	text-align: left;
	vertical-align: middle;
	border: 1px solid black;
}

td.propstext
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px; 
	font-weight: 400; 
	color: #000000;
}

label.contentcell
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
    font-size: 11px; 
    font-weight: 600; 
    color: #000000;
}

label.propscell
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px; 
	font-weight: 600; 
	color: #000000;
}

table.dataview_noborder
{
	width: 100%;
	border: 0;
	border-spacing: 2px;
	padding: 0;
	margin: 0;
	border-collapse: separate;
}

th.dataview_l
{
	padding: 2px;
	background-color: #dddddd;
	text-align: left;
	font-weight: 600;
	color: #000000;
    font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

td.dataview_lt
{
	padding: 2px;
	background-color: #ffffff;
	text-align: left;
	vertical-align: top;
	font-weight: 400;
	color: #000000;
    font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

table.processview
{
	width: 100%;
	border: 0;
	border-spacing: 0px;
	padding: 0;
	margin: 0;
	border-collapse: collapse;
}

tr.processrow_10
{
	height: 10px;
}

tr.processrow_20
{
	height: 20px;
}

tr.processrow_25
{
	height: 25px;
}

tr.processrow_30
{
	height: 30px;
}

tr.processrow_50
{
	height: 50px;
}

td.processcell
{
	padding: 0px;
	vertical-align: center;
}

td.arrowline
{
	background: url(../images/arrowline.png);
	background-size: 100%;
	background-repeat: no-repeat;
}


div.privacypanel
{
	margin-top: 60px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	padding-top: 12px;
	padding-right: 14px; 
	padding-left: 14px;
	padding-bottom: 12px;
	background-color: #ffffff;
	width: 500px;	
	float: left;
	overflow: hidden;
	position: relative;
	left: 32%;
	clear: left;
}

table.privacyinfo
{
	width: 100%;
	border: 0;
	border-spacing: 0px;
	padding: 20;
	margin: 0;
	border-collapse: collapse;
}

td.privacyinfo
{
	padding: 0px;
	vertical-align: top;
	text-align: center;
	font-weight: 400;
	color: #000000;
    font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

span.processdays
{
	color: #000000;
	background-color: #ffffff;
	font-size: 11px;
	font-weight: 400;
	padding-right: 10px;
}
