.x_img_active
{
	border: 5px solid #40a040;
	padding: 2px;
	margin-top: 10px;
	margin-bottom: 5px;
}

.x_img_inactive
{
	border: 5px solid #a02020;
	padding: 2px;
	margin-top: 10px;
	margin-bottom: 5px;
}

.x_img_none
{
	border: 5px solid #d0d0d0;
	padding: 2px;
	margin-top: 10px;
	margin-bottom: 5px;
}

.x_stat_active
{
	font-family: inherit;
	font-size: 16px;
    font-weight: bold;
    color: #40a040;	
    padding: 2px;
}

.x_stat_inactive
{
	font-family: inherit;
	font-size: 16px;
    font-weight: bold;
    color: #b02010;
    padding: 2px;
}

.x_stat_none
{
	font-family: inherit;
	font-size: 16px;
    font-weight: bold;
    color: #c0c0c0;
    padding: 2px;
}

.x_formtext
{
	font-family: inherit;
	font-size: 16px;
	font-weight: normal;
	text-align: left;
	color: #ffffff;
	padding: 5px;
}

.x_nametext
{
	color: #f0f000;
	font-weight: bold;
}

.x_acgrant 
{
	font-size: 16px; 
	font-weight: 400; 
	color: #ffffff;
	background-color: #007f20;
}

.x_acdeny 
{
	font-size: 16px; 
	font-weight: 400; 
	color: #ffffff;
	background-color: #a01000;
}

.x_formtable
{
	border-collapse: collapse;
	border-top: 1px solid #a0a0a0;
	border-bottom: 1px solid #a0a0a0;
	border-left: none;
	border-right: none;
	padding: 2px;
}

.x_formrow0
{
	padding: 2px;
	line-height: 20px;
	background-color: #202020;
}

.x_formrow1
{
	padding: 2px;
	line-height: 20px;
	background-color: #303030;
}
	
