.x_img_active
{
	border: 5px solid #40a040;
	padding: 2px;
	margin-top: 10px;
	margin-bottom: 5px;
}

.x_img_inactive
{
	border: 5px solid #a02020;
	padding: 2px;
	margin-top: 10px;
	margin-bottom: 5px;
}

.x_img_none
{
	border: 5px solid #d0d0d0;
	padding: 2px;
	margin-top: 10px;
	margin-bottom: 5px;
}

.x_stat_active
{
	font-family: inherit;
	font-size: 16px;
    font-weight: bold;
    color: #40a040;	
    padding: 2px;
}

.x_stat_inactive
{
	font-family: inherit;
	font-size: 16px;
    font-weight: bold;
    color: #b02010;
    padding: 2px;
}

.x_stat_none
{
	font-family: inherit;
	font-size: 16px;
    font-weight: bold;
    color: #c0c0c0;
    padding: 2px;
}

.x_formtext
{
	font-family: inherit;
	font-size: 16px;
	font-weight: normal;
	text-align: left;
	color: #ffffff;
	padding: 5px;
}

.x_formlabel
{
	font-family: inherit;
	font-size: 16px;
	font-weight: normal;
	text-align: left;
	color: #a0a0a0;
	padding: 5px;
}

.x_nametext
{
	color: #f0f000;
	font-weight: bold;
}

.x_regiontext
{
	color: #f0e0d0;
}

.x_affiltext
{
	color: #f0f0ff;
}

.x_affiltext
{
	color: #f0f0ff;
}

.x_tkntypetext
{
	color: #a0a0d0;
}

.x_leo
{
	color: #8080b0;
	display: visible;
	padding: 2px;
	margin: 2px;
	border: 2px solid #8080b0;
}


.x_leo_hide
{
	color: #8080b0;
	display: hidden;
}

.x_fero
{
	color: #b0b080;
	display: visible;
	padding: 2px;
	margin: 2px;
	border: 2px solid #b0b080;
}

.x_fero_hide
{
	color: #b0b080;
	display: hidden;
}

.x_tclearancetext
{
	color: #f0f0f0;
}

.x_ercog
{
	color: #ffffff;
	display: visible;
}


.x_ercog_hide
{
	color: #ffffff;
	display: hidden;
}

.x_ercoop
{
	color: #ffffff;
	display: visible;
}


.x_ercoop_hide
{
	color: #ffffff;
	display: hidden;
}

.x_ercopron
{
	color: #ffffff;
	display: visible;
}


.x_ercopron_hide
{
	color: #ffffff;
	display: hidden;
}
