body
{
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #ffffff;
}

.maintable
{
	width: 216mm;
	border: 0;
	border-spacing: 0;
	border-collapse: collapse;
	table-layout: fixed;
	empty-cells: show;
}

tr td
{
	font-family: helvetica,verdana,arial,sans-serif; 
	color: #000000;
	text-decoration: none; 
	text-transform: none; 
}

.rowbuttons
{
	height: 40mm;
	visibility: visible;
}

.screenonly
{
	display: inline;
}

.rowspace3mm
{
	height: 3mm;
}

.rowspace4mm
{
	height: 4mm;
}

.rowspace5mm
{
	height: 5mm;
}

.rowspace8mm
{
	height: 8mm;
}

.headline
{
	font-size: 14pt;
	font-weight: 600;
	text-align: center;
}

.regline
{
	font-size: 10pt;
	font-weight: 400;
	text-align: left;
}

.regline_c
{
	font-size: 10pt;
	font-weight: 400;
	text-align: center;
}

.regline_u
{
	font-size: 10pt;
	font-weight: 400;
	text-align: left;
	border-bottom: 1px solid black;
}

.regline_uc
{
	font-size: 10pt;
	font-weight: 400;
	text-align: center;
	border-bottom: 1px solid black;
}

.fineprint
{
	font-size: 7pt;
	font-weight: 400;
	text-align: left;
}

.fineprint_c
{
	font-size: 7pt;
	font-weight: 400;
	text-align: center;
}

.subline
{
	font-size: 8pt;
	font-weight: 400;
	text-align: left;
}

.subline_c
{
	font-size: 8pt;
	font-weight: 400;
	text-align: center;
}

.chkboxhead
{
	font-size: 9pt;
	font-weight: 600;
	text-align: left;
}

.chkboxprint
{
	font-size: 8pt;
	font-weight: 400;
	text-align: left;
	padding-top: 1mm;
	padding-bottom: 1mm;
}

.chkbox
{
	vertical-align: middle;
}

.ruleoff_bottom
{
	border-bottom: 2px solid black;
}

.ruleoff_top
{
	border-top: 2px solid black;
}

.vbar
{
	border-right: 2px solid black;
}

.btntext
{
    color: #000000;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
}
